
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SabitAlan</title>
</head>
<body>
    <div>
        SABİT ALAN

    </div>
    <div>

        @RenderBody()

    </div>

</body>
</html>
